@page "/contact"

<PageTitle>Kontakt</PageTitle>

<div class="contact-container">
    <h2>Kontakt</h2>
    <div class="contact">
        <h3>Kamil Księżarczyk</h3>
        <p>Telefon: +48 000 000 001</p>
        <p>Email: kamil.ksiezarczyk@rentyourcar.com</p>
    </div>

    <div class="contact">
        <h3>Bartosz Górski</h3>
        <p>Telefon: +48 000 000 002</p>
        <p>Email: bartosz.gorski@rentyourcar.com</p>
    </div>
</div>